@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*
div,
header,
span,
footer,
h1,
h2,
h3,
h4,
p,
blockquote,
cite,
img,
a {
    border: 1px solid red;
}
*/
.header {
    display: flex; /* чтобы выровнять по центру header__title */
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative; /* это для последующего задания расположения дочерних блоков */
    overflow: hidden;
}

.logo {
    width: 183px;
    height: 32px;
    z-index: 1;
}

.logo_place_header {
    top: 30px;
    left: 64px;
    position: absolute;
}

.header__title {
    width: 730px;
    align-self: center;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px; 
}

.header__subtitle {
    width: 388px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 64px;
    font-size: 18px;
    line-height: 25px;
}

.header__link {
    text-decoration: none;
    color:#2f80ed;
}

.header__link:hover {
    opacity: .5;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    background-size: cover;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2f80ed;
    margin-top: 64px;
    transform: rotate(-15deg);
    overflow: hidden;
    animation: rotation 20s linear infinite;
}

.techniques {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    
}

.cards {
    width: 920px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-row-gap: 60px;
    grid-column-gap: 100px;
    margin: 60px auto 0;
}

.cards__item {
    width: 240px;  
} 

.cards__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 40px 43px;
}

.cards__title {
    line-height: 1.15em;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.cards__description {
    text-align: center;
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 0;
}

.video {
    margin-top: 100px;
}

.iframes {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 515px);
    grid-row-gap: 60px; /* для очередных потенциальных "творений" с TED */
    grid-column-gap: 20px;
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.iframe {
    display: block;
}

.oakley {
    background-color: #f2f2f2;
    padding: 160px 0 80px;
    z-index: -1;
}

.two-columns {
    margin: 100px auto 100px;
    display: flex;
    width: 80%;
    min-width: 784px;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    color: #2f80ed;
    font-weight: normal;
}

.two-columns__main-text {
    width: 80%;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
    margin-bottom: 0;
}

.brief__text {
    line-height: 120%;
    font-size: 18px;
    color: #2f80ed;
}

.two-columns__span-accent {
    font-weight: bold;
}

.digits {
    margin-top: 100px;
}

.table {
    display: flex;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
}

.section-title {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    line-height: 69px;
    font-size: 50px;
}

.section-subtitle {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    line-height: 115%; 
    font-size: 24px;
}

.table__text {
    line-height: 120%;
    font-size: 18px;
}

/* стойкое ощущение, что размеры в приложенном ТЗ у этого блока приведены неверные */
.feinman {
    position: relative;
    height: 790px;
    background-color: #f2f2f2;
}

.feinman__title {
    position: relative; /* для z-index */
    top: 100px;         /* margin-top почему-то не работал */
    margin: auto;
    width: 648px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 120px;
    z-index: 1;
}

.feinman__subtitle {
    position: relative; /* для z-index */
    top: 70px;
    text-align: center;
    line-height: 51px;;
    font-size: 36px;
    z-index: 1;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;;
    font-size: 36px;
    color: black;
    text-decoration: none;
    z-index: 1;
}

.feinman__link:hover {
    opacity: .5;
}

.feinman__pic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
    z-index: 0;
}

.khan {
    margin-top: 100px;
    padding-top: 105px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.author {
    line-height: 42px;
    font-size: 30px;
    margin: 0;
}

.title {
    line-height: 115%;
    font-size: 60px;
}

.quote {
    width: 790px;
    margin: 50px 0 36px;
    line-height: 34px;
    font-size: 24px;
}

.quote-author {
    display: block; /* делаем цитату блоком */
    margin-bottom: 10px;
    line-height: 115%;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.quote-author-subline {
    line-height: 115%;
    font-size: 24px;
    font-style: normal;
}

.book-container {
    display: flex;
    margin-top: 68px;
}

.book-pic {
    margin-right: 20px;
    width: 620px;
    height: 608px;
    background-size: cover;
}

.buy-link {
    line-height: 42px;
    font-size: 30px; 
    text-decoration: none;
    color:#2f80ed;
}

.buy-link:hover {
    opacity: .5;
}

.kaufman {
    position: relative;
    background-color: #1f1f1f;
    padding-top: 90px;
    overflow: hidden;
    background-size: contain;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 0;
    background-image: url(../images/triangle.svg);
    animation: rotation 20s linear infinite;
    background-size: contain;
}

.resources {
    margin-top: 100px;
}

.resources__logo-zone {
    display: flex;
    justify-content: space-between;
    margin: 80px auto 0;
    width: 1100px;
}

.resources__link {
    display: block;
    width: 270px;
    height: 38px;
    text-align: center;
}

.resources__link:hover {
    opacity: .5;
}

.resources__logo {
    width: inherit;
    height: inherit;
}

.footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    min-height: 350px;
    color: white;
    margin-top: 217px;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.footer__column_content_copyright {
    min-height: 250px;
    display: flex;
    flex-basis: 711px;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column-heading {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
}

.footer__author { 
    line-height: 25px;
    font-size: 18px;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.footer__column-link:hover {
    opacity: .5;
}

.footer__social-icon {
    margin-right: 10px;
}

.footer__links-item {
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
}

.footer__columns-links {
    padding-left: 0;
}

.footer__column-links {
    margin-left: 0;
    padding-left: 0;
}

.section-title_theme_dark {
    color: white;
}

.section-subtitle_theme_dark{
    color: white;
}

.table_theme_dark {
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.table__cell_theme_dark {
    position: relative;
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 1;
}

.logo_place_footer {
    height: 35px;
}

